<div class="container" style="margin-top: 150px; background-color: lightgrey">

	<h2> CLIENTS DASHBOARD</h2> <br>
	<h3> Name: <%= @client %> </h3>
			
	<div class="everything" style="margin-top: 400px">
		Scroll Up and Down this page to see the parallax scrolling effect.
		This div is just here to enable scrolling.
		Tip: Try to remove the background-attachment property to remove the scrolling effect.
	</div>
</div>
	





					