<div class="container"> 

	<div class="fadeInDown animate" id="heading">
	 Galxy<i style="color: rgb(204, 122, 0)" class="fadeInUp">Bit</i>  
	</div>
	
	<h3 class="fade fadeIn" style="text-align: center"> 
		Loading: 43% 
	</h3>

	<hr class="fade fadeIn" style="border-color: rgb(230, 230, 230); margin-top: 25px">


</div>




