<div class="container"> 

	<div class="fadeInDown animate" id="heading" style="margin-top: 90px">
	 Galxy<i style="color: rgb(204, 122, 0)" class="fadeInUp">Bit</i>  
	</div>
	
	<h6 class="fade fadeIn" style="text-align: center"> 
		LAUNCHING SOON
	</h6 >



	<div class="fade fadeIn" id="loading">
		<figure>
		  <div></div><div></div>
		  <div></div><div></div>
		  <div></div><div></div>
		  <div></div><div></div>
		</figure>
	</div>
	

</div>