
 <div class="parallax-container">
    <div class="parallax">
    <%= javascript_include_tag 'pages/Parallax.js' %>
    
    <canvas id="nokey">	
    </canvas>
    <%= javascript_include_tag 'pages/Particles.js' %>

    </div>
</div>


<div style="height:1000px;background-color:red;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>






<!--
<div class="parallax">
	<canvas height="100%" id="nokey" width="100%">

	<div class="container"> 
		<div class="fadeInDown animate" id="heading">
		 Galxy<i style="color: rgb(204, 122, 0)" class="fadeInUp">Bit</i>  
		</div>
	</div>

	<div class="java parallax"></div>
	<%= javascript_include_tag 'pages/Particles.js' %>	

	</canvas>
</div>


-->

<!-- 
Below is for the launching page

<div class="container"> 

	<div class="fadeInDown animate" id="heading">
	 Galxy<i style="color: rgb(204, 122, 0)" class="fadeInUp">Bit</i>  
	</div>
	
	<h6 class="fade fadeIn" style="text-align: center"> 
		<i>LAUNCHING SOON</i>
	</h6 >

</div>

<div class="fade fadeIn" id="loading">
	<figure>
	  <div></div><div></div>
	  <div></div><div></div>
	  <div></div><div></div>
	  <div></div><div></div>
	</figure>
</div>



